html,
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  background: url("/images/57b71f9c621f581792fa8ce8be0a2d4e4df8b8b5.png")
    no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;
  padding: 20px;
}

.container .header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 1rem;
}
.container .header img {
  width: 50px;
  cursor: pointer;
}

.container .content-details {
  width: 100%;
  background-color: #ffffff;
  flex-grow: 1;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.container .content-details .main-details {
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  padding: 30px 0px 30px 20px;
  margin-top: 200px !important;
}
.container .main-details .head,
.main-details .show-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-details .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 20px;
}
.main-details .head .title,
.show-details .title-second {
  background: #0131a0;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 8px;
  padding: 8px 10px 8px 10px;
  font-weight: 600;
}
.head .title img,
.show-details .title-second img {
  width: 25px;
  margin-top: 3px;
}
.head .icons img {
  margin-right: 10px;
  width: 50px !important;
}

.search-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.search-box {
  width: 100%;
  max-width: 700px;
  position: relative;
}
.search-box > img {
  position: absolute;
  left: 15px;
}

.search-box input {
  width: 100%;
  padding: 13px 20px;
  font-size: 20px;
  border-radius: 50px;
  font-family: "Cairo", sans-serif;
  outline: none;
  border: 1px solid #d5d5d5;
  background-color: #f5f5f5;
}

.show-details {
  margin-top: 40px;
}
.show-details .btn-details {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 0 0 20px;
}
.show-details .btn-details span {
  display: inline-block;
  border: 1px solid #e4e4e4;
  padding: 10px;
  cursor: pointer;
}
.show-details .btn-details span:first-child {
  color: #0586c7;
  font-weight: 700;
  border-radius: 10px;
  padding: 16px 18px;
  font-size: 14px;
}
.show-details .btn-details span:last-child {
  border-radius: 10px;
  display: flex;
  padding: 17px 16px !important;
  font-size: 14px;
}
.show-details .btn-details span:last-child svg {
  width: 18px;
}
.show-details .btn-details span:last-child img {
  width: 26px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 0 -1px 6px rgba(0, 0, 0, 0.05);
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebe7e7 !important;
}
.collapse-title {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 10px;
}
.header span {
  font-weight: bold;
  color: #1e3a8a;
  font-size: 16px;
}
.text {
  color: #232323;
  line-height: 1.8;
  margin: 15px 0;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.icon-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.number {
  background-color: #0131a0;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
img.icon {
  width: 14px;
  height: 21px;
}

.collapse-title button,
.collapse-title > span {
  border: 1px solid #e4e4e4;
  padding: 8px 14px;
  border-radius: 10px;
}
.collapse-title button img {
  width: 12px !important;
  height: 12px !important;
}

.collapse-title span {
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #002653;
}
.collapse-title span .first-word {
  color: #0586c7;
}

.text-paragraph {
  font-size: 12px;
  line-height: 2.2;
  padding: 1rem;
  white-space: wrap !important;
  text-align: justify;
}
.card-comments .collapse-title {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.card-comments .collapse-title > span {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
}
.card-comments .collapse-title > span > img {
  width: 16px;
  margin-top: 2px;
}
.card-comments .collapse-title .title-comment {
  color: #0586c7;
}
.comments {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 20px;
  margin-top: 20px;
}
.comments .head-comment {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}
.comments .head-comment img {
  width: 35px;
}
.comments .head-comment span {
  font-size: 13px;
  color: #002653;
  font-weight: 700;
}
.comments .desc-comments {
  font-size: 13px;
  margin-top: 6px;
  line-height: 1.8;
  color: #232323;
}
.write-comments {
  display: flex;
  align-items: center;
  padding: 0 20px;
  column-gap: 0.3rem;
  margin-top: 10px;
  position: relative;
}
.write-comments img {
  width: 35px;
}
.write-comments input {
  outline: none;
  border: none;
  background: #0076ec;
  padding: 5px 15px;
  border-radius: 50px;
}
.write-comments .icon-send {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #0131a0;
  border-radius: 50%;
  transition: transform 0.3s linear;
  margin-left: 10px !important;
  position: absolute;
  left: 10px;
}
.write-comments .icon-send:hover {
  transform: scale(0.98);
}
.write-comments .icon-send svg {
  width: 18px;
  margin-left: 2px;
}

.write-comments input {
  flex-grow: 1;
}

/* Navigation tab  */
.nav-pills {
  padding: 0 20px 0 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #999999;
  padding-bottom: 15px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent !important;
  color: #0f3a96;
  border-radius: 0px !important;
  border-bottom: 3px solid #0f3a96;
}
.nav-item > button {
  color: #b9b9b9;
  font-weight: 700;
}
.tab-content {
  padding: 10px 30px;
}

#pills-images a img,
.video-gallary > div img.img-fluid {
  width: 80px !important;
  height: 80px !important;
  border-radius: 5px;
  cursor: pointer;
}

/* Gallery styling */
.contain-img {
  display: flex !important;
  flex-wrap: wrap;
  gap: 1rem;
  visibility: visible !important;
  opacity: 1 !important;
}

.contain-img .lg-item {
  display: block !important;
  max-width: 100%;
}
.lg-inner {
  background-color: rgba(0, 0, 0, 0.345) !important;
}
.contain-img img {
  display: block !important;
  width: 100px;
  height: 60px;
  object-fit: cover;
  visibility: visible !important;
  opacity: 1 !important;
  background-color: #002653;
  cursor: pointer;
  transition: 0.3s opacity linear;
  border-radius: 5px;
  transition: 0.3s filter linear;
}
.contain-img img:hover {
  filter: brightness(120%);
}

.tab-pane.fade.show {
  display: block !important;
  opacity: 1 !important;
}
.lg-backdrop,
.lg-toolbar {
  display: none;
}
.lg-outer .lg-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lg-outer .lg-image {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
  width: 50% !important;
  height: 500px !important;
  border: 3px solid #00000038;
}
.lg-actions .lg-prev,
.lg-actions .lg-next {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  transition: 0.3s color linear;
  position: absolute;
}
.lg-actions .lg-prev:hover,
.lg-actions .lg-next:hover {
  color: #000;
}

.lg-actions .lg-prev {
  left: 26%;
}

.lg-actions .lg-next {
  right: 26%;
}

.overlay {
  background-color: #fff;
  display: none;
}

.video-item {
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.video-item:hover {
  transform: scale(1.05);
}

.video-item iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 2px solid #dee2e6;
}

.video-item iframe:hover {
  border-color: #007bff;
}

#modalVideo iframe {
  width: 100%;
  height: 500px;
  border: none;
}
